@import 'assets/styles/colors';
@import 'assets/styles/breakpoints';

.search-form {
  &__input-container {
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid $darkGray;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-right: 30px;
  }
  &__label {
    display: block;
    width: 22px;
    height: 22px;
    order: -1;
  }
  &__input {
    flex-grow: 1;
    height: 100%;
    border: none;
    font-size: 18px;
    line-height: 20px;
  }
  &__input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: $nobel;
  }
  &__input:focus {
    outline: none;
  }
  &__input:focus + &__label svg > path {
    fill: $black;
  }
}
@media (max-width: #{$screen-sm-min}) {
  .search-form {
    &__input-container {
      border-right: 0px;
      box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
      border-radius: 9px;
      padding: 19px;
      margin-right: 0;
      width: 100%;
    }
    &__label {
      display: none;
    }
    &__input, &__input::placeholder {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
