@import 'assets/styles/colors';
@import 'assets/styles/breakpoints';

.search-form {
  font-family: 'Inter';
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  width: 100%;
  min-height: 72px;
  margin: 70px 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;

  &__filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: $black;
    margin: 0 0 0 14px;
  }
}
@media (max-width: #{$screen-sm-min}) {
  .search-form {
    flex-direction: column;
    box-shadow: none;
    padding: 0;
    border-radius: 0px;
    border-bottom: 1px solid $darkGray;

    &__filter {
      margin: 45px 0;
    }
  }
}
