@import 'assets/styles/colors';
@import 'assets/styles/breakpoints';

.menu {
  font-family: 'Inter';
  &__logo {
    transition: opacity 0.6s;
    cursor: pointer;
  }
  &__logo:hover {
    opacity: 0.3;
  }
  &__nav {
    display: flex;
    align-items: stretch;
    height: 100%;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  @mixin link {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: $black;
    border-radius: 4px;
    text-decoration: none;
  }
  &__link {
    @include link;
    position: relative;
    font-weight: 400;
    padding: 7px 8px;
    margin-right: 20px;
    transition: background-color 0.4s;
  }
  &__link::after {
    content: attr(data-title);
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-weight: 600;
    color: $black;
  }
  &__link:hover,
  &__profile-link:hover {
    background-color: $gray;
  }
  &__link:active,
  &__profile-link:active {
    background-color: $darkGray;
  }
  &__link:last-of-type {
    margin-right: 0;
  }
  &__link_active {
    color: transparent;
  }
  &__link_active::after {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__profile-link {
    @include link;
    font-weight: 500;
    transition: background-color 0.4s;
    padding: 7px 0 7px 8px;
  }
  &__profile-link:active &__profile-icon {
    background-color: $darkGray;
  }
  &__profile-icon {
    margin-left: 17px;
    padding: 7px 8px;
    background-color: $gray;
    transition: background-color 0.4s;
    border-radius: 4px;
  }
  &__profile-link_active &__profile-icon {
    background-color: $green;
  }
  &__burger {
    position: relative;
    z-index: 2;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background-image: url('~assets/images/burger-icon-closed.svg');
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
  }
  &__burger_active {
    background-image: url('~assets/images/burger-icon-opened.svg');
  }
}
@media (max-width: #{$screen-md-min}) {
  .menu {
    &__nav-wrapper {
      z-index: 1;
      display: flex;
      justify-content: flex-end;
      visibility: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: opacity 0.4s;
      opacity: 0;
    }
    &__nav {
      width: 520px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 20px;
      z-index: 1;
      align-items: center;
      justify-items: center;
      background-color: $white;
      padding: 160px 0 90px;
      overflow-y: scroll;
    }
    &__nav-wrapper::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    &__burger {
      display: block;
    }
    &__burger_active + &__nav-wrapper {
      opacity: 1;
      visibility: visible;
    }
    &__link {
      padding: 0 0 8px 0;
      font-size: 18px;
      line-height: 22px;
      margin: 0;
    }
    &__link:hover {
      background-color: transparent;
      opacity: 0.8;
    }
    &__link:active {
      background-color: transparent;
      opacity: 0.6;
    }
    &__link_active {
      box-sizing: border-box;
      border-radius: 0;
      background-color: transparent;
      padding: 0 0 8px 0;
    }
    &__link_active::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $black;
      height: 2px;
    }
    &__link_active::after {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      padding: 0 0 8px 0;
    }
    &__profile-link {
      grid-row-start: -2;
    }
  }
}